.cart-item-view-more-modal-component {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.cart-item-view-more-modal-component table {
  width: 100%;
  margin-top: 10px;
}

.cart-item-view-more-modal-component table th,
.cart-item-view-more-modal-component table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cart-item-view-more-modal-component table th {
  background-color: #f2f2f2;
}

.cart-item-view-more-modal-component .MuiDialogContent-root {
  padding: 20px;
}

.cart-item-view-more-modal-component .MuiDialogActions-root {
  justify-content: flex-end;
  padding: 10px 20px;
}

.cart-item-view-more-modal-component .MuiButton-root {
  margin-left: 10px;
}