.app-bar-title {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: amaticSCBold;
  src: url(../fonts/AmaticSC-Bold.ttf);
}

@font-face {
  font-family: amaticSCReg;
  src: url(../fonts/AmaticSC-Regular.ttf);
}