.home-component {
  display: flex;
  grid-gap: 32px 10px;
  padding: 32px 20px;
}

/* .home-component .thumbnail-component:nth-child(3n + 2) div {
  background-color: #9BA699;
}

.home-component .thumbnail-component:nth-child(3n + 3) div {
  background-color: #3F3F40;
} */