.pack-order-modal-page-two-dialog {
  display: grid;
}
.pack-order-modal-page-two-dialog-title {
  font-family: pacifico;
}

@font-face {
  font-family: pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}