.drink-thumbnail-component{  
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: black;
}

/* .order-now-thumbnail-component div {
  background-color: #E6E6E6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
} */

.drink-thumbnail-component .drink-thumbnail-popup-component {
  background-color: #E6E6E6;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

/* .drink-thumbnail-component img {
    height: 106px;
    transition: transform 333ms ease;
} */

.drink-thumbnail-component p {
    font-family: pacifico;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 9px 0 0;
    font-size: 21px;
    text-align: center;
    white-space: nowrap;
}

.drink-thumbnail-button {
  background: none;  
  border-style: none;
}

.drink-thumbnail-button img {
  height: 90px;
  width: auto;
  transition: transform 333ms ease;
}

.drink-thumbnail-component .drink-thumbnail-popup-component:hover img {
  transform: scale(1.2);
}

.drink-thumbnail-component .drink-thumbnail-popup-component .slection-image-component {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 32px 10px;
  padding: 32px 20px;
}

@font-face {
  font-family: pacifico;
  src: url(../../../../fonts/Pacifico-Regular.ttf);
}